{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Novo Produto{% endblock %}

{% block main %}
<!--
    Formulário para cadastro de um novo produto.
    abelbcarvalho
-->
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Cadastre Um Produto</h2> <br>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col"></div>
</div>

{% endblock %}

{% block footer %}
    <footer class="footer mt-auto py-3 bg-light low-footer-now">
        <div class="container">
            <span class="text-muted">Desenvolvimento Web Django 3.14</span>
        </div>
    </footer>
{% endblock %}
